<app-navbar></app-navbar>

<div class="container-fluid my-2">

  <div class="row">
    <div class="col-4 d-flex flex-wrap">
          <div class="w-50 mt-3 px-2">
              <div class="card red text-center z-depth-2 darken-4">
                  <div class="card-body">
                      <h1 class="white-text mb-0"><i class="fa fa-power-off"></i></h1>
                  </div>
                  <mdb-card-footer class="text-muted white-text">
                      <p class="mb-0">Spegni</p>
                  </mdb-card-footer>
              </div>
          </div>
          <div class="w-50 mt-3 px-2">
              <div class="card mdb-color text-center z-depth-2">
                  <div class="card-body">
                      <h1 class="white-text mb-0"><i class="fa fa-video"></i></h1>
                  </div>
                  <mdb-card-footer class="text-muted white-text">
                      <p class="mb-0">Trasmettitore</p>
                  </mdb-card-footer>
                </div>
          </div>
          <div class="w-50 mt-3 px-2">
              <div class="card mdb-color text-center z-depth-2">
                  <div class="card-body">
                      <h1 class="white-text mb-0"><i class="fa fa-apple"></i></h1>
                  </div>
                  <mdb-card-footer class="text-muted white-text">
                      <p class="mb-0">Apple Tv Comune</p>
                  </mdb-card-footer>
              </div>
          </div>
          <div class="w-50 mt-3 px-2">
              <div class="card mdb-color text-center z-depth-2">
                  <div class="card-body">
                      <h1 class="white-text mb-0"><i class="fa fa-apple"></i></h1>
                  </div>
                  <mdb-card-footer class="text-muted white-text">
                      <p class="mb-0">Apple Tv Singole</p>
                  </mdb-card-footer>
              </div>
          </div>
          <div class="w-50 mt-3 px-2">
              <div class="card mdb-color text-center z-depth-2">
                  <div class="card-body">
                      <h1 class="white-text mb-0"><i class="fa fa-desktop"></i></h1>
                  </div>
                  <mdb-card-footer class="text-muted white-text">
                      <p class="mb-0">Computer</p>
                  </mdb-card-footer>
              </div>
          </div>
          <div class="w-50 mt-3 px-2">
              <div class="card mdb-color text-center z-depth-2">
                  <div class="card-body">
                      <h1 class="white-text mb-0"><i class="fa fa-headphones"></i></h1>
                  </div>
                  <mdb-card-footer class="text-muted white-text">
                      <p class="mb-0">Solo Audio</p>
                  </mdb-card-footer>
              </div>
          </div>
    </div>
  <div class="col-4 d-flex flex-wrap align-content-start">
      <div class="w-50 mt-3 px-2">
          <div class="card mdb-color text-center z-depth-2">
              <div class="card-body">
                  <h1 class="white-text mb-0"><i class="fa fa-volume-up"></i></h1>
              </div>
              <mdb-card-footer class="text-muted white-text">
                  <p class="mb-0">Aumenta Volume</p>
              </mdb-card-footer>
          </div>
      </div>
      <div class="w-50 mt-3 px-2">
          <div class="card mdb-color text-center z-depth-2">
              <div class="card-body">
                  <h1 class="white-text mb-0"><i class="fa fa-volume-down"></i></h1>
              </div>
              <mdb-card-footer class="text-muted white-text">
                  <p class="mb-0">Diminuisci Volume</p>
              </mdb-card-footer>
          </div>
      </div>
      <div class="w-50 mt-3 px-2">
          <div class="card mdb-color text-center z-depth-2">
              <div class="card-body">
                  <h1 class="white-text mb-0"><i class="fa fa-volume-off"></i></h1>
              </div>
              <mdb-card-footer class="text-muted white-text">
                  <p class="mb-0">Mute</p>
              </mdb-card-footer>
          </div>
      </div>
      <div class="w-50 mt-3 px-2">
          <div class="card mdb-color text-center z-depth-2">
              <div class="card-body">
                  <h1 class="white-text mb-0"><i class="fa fa-ice"></i></h1>
              </div>
              <mdb-card-footer class="text-muted white-text">
                  <p class="mb-0">Freeze</p>
              </mdb-card-footer>
          </div>
      </div>
  </div>
</div>
</div>
