<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue darken-3" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="navbar-brand" href="#">Controllo Sala Multimediale</a>
  </mdb-navbar-brand>
  <links>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto mt-lg-0">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Proiettori</a>
              </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Spegni</a>
            </li>
          </ul>
      </div>
  </links>
</mdb-navbar>